@font-face {
  font-family: BebasNeue;
  src: url(./components/fonts/BebasNeue-Regular.ttf);
}

.App {
  text-align: left;
  font-family: BebasNeue;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-footer {
  position: fixed;
  bottom: 5px;
  opacity: 0.3;
}

.Home, .Plan, .Progress {
  padding-left: 15px;
  padding-right: 15px;
}

.Plan-input {
  width: 45%;
  height: 24px;
  border-radius: 4px;
  border: 2px solid #9999ff;
  background-color: #eeeeee;
  font-family: BebasNeue;
}

.Plan-button {
  border: 2px solid #9999ff;
  margin-left: 16px;
  height: 29px;
  border-radius: 4px;
  background-color: #eeeeee;
  font-family: BebasNeue;
}

.Plan-button:active {
  background-color: #282c34;
  color: white;
}

.Plan-list {
  text-align: center;
}

.Plan-item, .Progress-item {
  background-color: #ccccff;
  border-bottom: 2px solid #9999ff;
  border-right: 2px solid #9999ff;
  border-radius: 4px;
  width: 80%;
  margin-left: 10%;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
}

.Progress-select {
  border: 2px solid #9999ff;
  margin-left: 0;
  height: 29px;
  border-radius: 4px;
  background-color: #eeeeee;
  font-family: BebasNeue;
}

pre {
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
}